  <!DOCTYPE html>
  <html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe App</title>

    <script src="/javascripts/index.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="container">
      
      <% if (response.ingredients) { %>
        <div class="col">
          <h1 id="recipe-name">Recipe: <%= response.name %></h1>
          <h2>Instructions:</h2>
          <ul id="instructions">
            <% response.instructions.forEach(instruction => { %>
              <li><%= instruction %></li>
            <% }); %>
          </ul>
          <h2>Ingredients:</h2>
          <ul id="ingredients">
            <% response.ingredients.forEach(ingredient => { %>
              <li><%= ingredient %></li>
            <% }); %>
          </ul>
        </div>
      <% } else if (response.name) { %>
        <div>
          <h1><%= response.name %></h1>
          <h1><%= response.instructions %></h1>
        </div>
        <% } else{ %>
          <div class="col">
            <h1 id="recipe-name"></h1>
            <h2>Instructions:</h2>
            <ul id="instructions">
            </ul>
            <h2>Ingredients:</h2>
            <ul id="ingredients">
            </ul>
          </div>
      <% } %>
      
    <div class="col">
      <h1>Add New Recipe</h1>
      <label for="name-text">Name:</label>
      <input type="text" id="name-text">
      <h4>Ingredients</h4>
      <textarea id="ingredients-text"></textarea>
      <button class="btn" id="add-ingredient" type="button">Add ingredient</button>
      <h4>Instructions</h4>
      <textarea id="instructions-text"></textarea>
      <button class="btn" id="add-instruction" type="button">Add instruction</button>
      <button class="btn" id="submit" type="submit">Submit</button>
  
      <h1>Image Upload</h1>
      <form id="image-form" enctype="multipart/form-data">
        <input type="file" id="image-input" name="images" accept="image/*" multiple>
        <button class="btn" type="submit">Upload</button>
      </form>
  </div>
  </div>
  </body>
  </html>